[submodule "York/vendor/spdlog"]
	path = York/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "York/vendor/GLFW"]
	path = York/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "York/vendor/imgui"]
	path = York/vendor/imgui
	url = https://github.com/TheCherno/imgui/
[submodule "York/vendor/glm"]
	path = York/vendor/glm
	url = https://github.com/g-truc/glm.git
